.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 100px;
  color: $text-light-pink;
  background: $background-body;
}

.footer__title {
  font-size: 60px;
  line-height: 1.25;
  margin-bottom: 40px;
}

.footer__promo {
  display: block;
  margin-bottom: 20px;
}

.footer__promo-wrapper {
  justify-content: space-between;
}

.footer__wrapper-item {
  margin-right: 70px;
}

.footer__promo-icon {
  width: 100px;
  height: 100px;
}

.footer__social-list {
  display: flex;
}

.footer__social-icon {
  transition: $timing-function;
}

.footer__social-link {
  margin-right: 20px;

  &:hover .footer__social-icon,
  &:focus .footer__social-icon {
    fill: $text-light-pink;
  }
}

.footer__social-icon {
  fill: $text-light;
}

.footer__address-title {
  font-size: 3rem;
  line-height: 1.25;
  margin-top: 5px;
  margin-bottom: 30px;
  color: $text-light;
}

.footer__address-icon {
  margin-right: 10px;
  fill: $text-light;
}

.footer__address-list-item {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.footer__address-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer__address-list-item:last-child {
  font-style: normal;
}

.footer__address-link {
  display: block;
  position: relative;
  font-style: normal;
  line-height: 1.5;

  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }
}

.footer__address-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -5px;
  background-color: $background-light;
  transform: scale(0);
  transition: $timing-function;
}

.footer__tel {
  width: 200px;
}

@media screen and (width <=getBreakpoint('desktop')) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (width <=1240px) {
  .footer__wrapper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px 0;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 100px 60px 60px 60px;
  }

  .footer__address-list-item {
    justify-content: center;
  }
}

@media screen and (width <=getBreakpoint('tablet')) {
  .footer__promo-wrapper {
    justify-content: center;
  }

  .footer__wrapper {
    padding: 60px 30px 40px 30px;
  }

  .footer__address-list-item {
    font-size: 1.8rem;
    justify-content: start;
  }

  .footer__promo-icon {
    display: none;
  }
}