.navigation {
  display: flex;
  align-items: center;
}

.navigation__item {
  position: relative;
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: $timing-function;

  &:not(:last-child) {
    margin-right: 40px;
  }

  @media (hover: hover) and (pointer: fine) {

    &:hover,
    &:focus {
      cursor: pointer;
      color: $text-light;
    }
  }

  &:first-child:hover .navigation__sub-list,
  &:last-child:hover .navigation__sub-list {
    visibility: visible;
    opacity: 1;
  }
}

.navigation__sub-list {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 165px;
  padding: 15px;
  color: $text-dark-pink;
  background-color: $background-light;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.6rem;
  border-radius: 10px;
  box-shadow: 0px 12px 25px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 12px 25px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 12px 25px 9px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity $timing-function, visibility $timing-function;

  &.navigation--social {
    min-width: 240px;
  }
}

.navigation__sub-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.navigation__sub-link {
  position: relative;
  display: inline-block;
  transition: $timing-function;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -1px;
    background-color: $text-light-pink-accent;
    transform: scaleX(0);
    transition: transform $timing-function;
  }

  @media (hover: hover) and (pointer: fine) {

    &:hover::before,
    &:focus::before {
      transform: scaleX(1);
    }

    &:hover,
    &:focus {
      color: $text-light-pink-accent;
    }
  }
}

.navigation__tel {
  width: 155px;
}

.navigation__tel-item:hover,
.navigation__tel-item:focus {
  color: $text-light-pink-accent;
}

@media screen and (width <=getBreakpoint('desktop')) {
  .navigation {
    display: none;
  }
}