.rules__wrapper {
  text-align: center;
  width: 540px;
  max-height: calc(85vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding-right: 20px;
}

.rules__title {
  color: $text-dark-pink;
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 15px;
}

.rules__description {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 15px;
}

@media screen and (max-width:getBreakpoint('desktop')) {
  .rules__title {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  .rules__description {
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
}

@media screen and (max-width:getBreakpoint('tablet')) {
  .rules__wrapper {
    width: calc(90vw - 100px);
  }
}

@media screen and (max-width:getBreakpoint('mobile')) {
  .rules__wrapper {
    width: calc(90vw - 80px);
  }

  .rules__title {
    font-size: 1.7rem;
  }

  .rules__description {
    font-size: 1rem;
  }
}