$background-body: rgb(183, 82, 153);
$background-light: rgb(248, 207, 227);
$main-font: "Nunito", sans-serif;
$text-dark: rgb(128, 128, 128);
$text-light: rgb(254, 250, 248);
$text-light-pink: rgb(248, 207, 227);
$text-dark-pink: rgba(94, 0, 71, 0.85);
$text-light-pink-accent: rgba(165, 0, 124, 0.78);
$timing-function: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$border-pink: rgb(248, 207, 227);
$border-light-pink: rgb(255, 237, 245);
$button-color: rgb(40, 110, 115);
$button-color-active: rgb(46, 123, 128);
$color-text-dark: #212529;
$color-background-white: #fff;